
<div>
  <a href="<%= url_for(dog) %>">
    <article>
      <h2 class="dog-name"><%= dog.name %></h2>
      <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
    </article>
  </a>

  <% if dog.id % 2 == 0%>
    <div>
      <article class="dog-ad">
        <h2>Collar for Sale!</h2>
        <%= image_tag "ad.jpg", class: "collar-photo", alt: "new advert" %>
      </article>
    </div>
  <% end %>
</div>




