<% if dog_counter % 2 == 0 %>
  <%= image_tag 'ad.jpg', class: "ad", alt: "A very cool ad." %>
<% end %>
<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
