<a href="<%= url_for(dog) %>">
  <figure class=".dog-card">
    <img src="<%= url_for(dog.images.first) %>" class="dog-photo">
    <figcaption class="dog-name"><%= dog.name %></figcaption>
  </figure>
</a>