<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <p>Recent Likes:<%= dog.likes_in_last_hour %></p>
    <% if dog.images.any? %>
      <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}", size: 100 %>
    <% end %>
  </article>
</a>
