<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <a href="<%= url_for(dog) %>">
        <article>
          <h2 class="dog-name"><%= dog.name %></h2>
            <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
        </article>
      </a>
    </div>
  </div>
</div>

<% if dog_counter % 2 == 1 %>
  <article>
    <h2 class="ad-description">Collar for sale!</h2>
    <%= image_tag image_url('ad.jpg'), class: "ad-photo", alt: "Photo of ad" %>
  </article>
<% end %>
