<div id="root"></div>

<script type="text/babel">
const adUrl = '<%= asset_url "ad.jpg" %>';
const {
  Avatar,
  Button,
  Card,
  CardActionArea,
  CardContent,
  CardMedia,
  Grid,
  Link,
  Typography,
  withStyles,
} = window['material-ui'];

const DogCard = ({ name, action, imageUrl }) => (
  <Card>
    <CardActionArea component="a" href={action}>
      <CardMedia
        component="img"
        image={imageUrl}
        alt={name}
        title={name} />
      <CardContent>
        <Typography variant="h4">{name}</Typography>
      </CardContent>
    </CardActionArea>
  </Card>
);

class Index extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      dogs: [],
      page: 1,
    }
  }

  componentDidMount() {
    this.fetchDogs(this.state.page);
  }

  fetchDogs = (page) => {
    fetch(`/dogs.json/?page=${page}`)
      .then((response) => response.json())
      .then((dogs) => {
        this.setState({ dogs });
      });
  }

  paginate = (newPage) => {
    this.fetchDogs(newPage);
    this.setState({
      page: newPage
    });
  }

  next = () => {
    const { page } = this.state;
    console.log('page', page);

    this.paginate(page + 1);
  }

  previous = () => {
    const { page } = this.state;
    console.log('page', page);

    if (page > 1) {
      this.paginate(page - 1)
    }
  }

  render() {
    const { dogs } = this.state;

    return (
      <Grid container spacing={40} justify="center" alignItems="center">
        {dogs.map((dog, index) => (
          <React.Fragment key={dog.id}>
            <Grid item xs={12} sm={6} md={4}>
              <DogCard
                name={dog.name}
                action={`/dogs/${dog.id}`}
                imageUrl={dog.images[0]} />
            </Grid>
            {(index % 2) == true && (
              <Grid item xs={12} sm={6} md={4}>
                <DogCard
                  name="Ad"
                  action="#"
                  imageUrl={adUrl} />
              </Grid>
            )}
          </React.Fragment>
        ))}
        <Grid item md={12}>
          <Grid container spacing={40} justify="center">
            <Grid item>
              <Button variant="contained" size="large" onClick={this.previous}>Prev</Button>
            </Grid>
            <Grid item>
              <Button variant="contained" size="large" onClick={this.next}>Next</Button>
            </Grid>
          </Grid>
        </Grid>
      </Grid>
    )
  }
}

ReactDOM.render(<Index />, document.getElementById('root'));
</script>

<!-- <% @dogs.each_with_index do |dog, index| %>
  <%= render partial: 'thumbnail', locals: { dog: dog } %>
  <% if index.odd? %>
    <%= image_tag "ad.jpg", class: "ad", alt: "Ad" %>
  <% end %>
<% end %> -->
