/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dog-description {
  text-align: center;
}

.item {
  height: 450px;
}

.item-image, .item > img {
  object-fit: cover;
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.dog-photo, .ad-photo {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.pt-6 {
  padding-top: 5rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.text-large {
  font-size: 150%;
}

.form-title {
  margin: auto;
}

.carousel-indicators > li {
  display: none;
}