/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dog-description {
  text-align: center;
}

.item {
  height: 300px;
}
.item > img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.thumbnail-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.thumbnail-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  max-width: 100%;
}

.thumbnail-cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .thumbnail-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .thumbnail-cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .thumbnail-cell {
    width: calc(100% / 3);
  }
}

.thumbnail-cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .thumbnail-cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .thumbnail-cell {
    width: calc(33.3333% - 2rem);
  }
}