* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: #333;
  color: #ccc;
  padding: 10px;
}

header .actions {
  float: right;
}

#main {
  padding: 10px;
}